div{
background: rgb(146, 106, 214);
position: ;
}
.personal{
	top: 0px;
	position:fixed;
	background: rgb(55, 169, 164);
	width: 300px;
	height: 5000px;
	overflow: hidden;
	right: 0px;
	z-index: 10;
}
#titulo{
	top: 0px;
	background: rgb(189, 226, 21);
	width: 300px;
}
#fotoPersonal{
	position: relative;
	left: 0px;
	background: rgb(55, 169, 164);

}
#contacto{
	background: rgb(13, 246, 235);
	width: 250px;

	position: relative;
	top:  20px;
	right: ;
	bottom: ;
	left: 20px;
}
#habilidades{
	background: rgb(13, 246, 235);
	width: 250px;
	position: relative;
	left: 20px;
	top: 50px;
	bottom: ;

}
#diplomas{
	background: rgb(13, 246, 235);
	width: 250px;
	position: relative;
	left: 20px;
	top: 100px;
	bottom: ;
}
#link{
	background: rgb(232, 237, 56);
}
p{
	font-size: 20px;
}
h1{
	font-size: 40px;
}
mark{
	background: ;
}
.info{
	background: rgb(135, 203, 200) ;
	width: 1200px;
	position: ;

}
#perfil{
	position: relative;
	background: rgb(203, 124, 147);
	left: 15px;
}

#profecional{
	background: rgb(203, 124, 147);
	position: relative;
	left: 15px;

}

#experiencia{
	background: rgb(203, 124, 147);
	position: relative;
	left: 15px;
}

#formacion{
	background: rgb(203, 124, 147);
	position: relative;
	left: 15px;
}
/*	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px; 
	fixed, static, relative, absolute*/

}
/* div, es un selector */